 .form-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;
        max-width: 450px;
        margin: 35px auto;
        padding: 24px;
        border: 1px solid #ccc;
        border-radius: 8px;
        background: #626262;
    }
    .form-container label {
        display: block;
        margin-bottom: 6px;
        font-weight: 350;
    }
    .form-container input,
    .form-container select,
    .form-container textarea {
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid #ed0707;
        border-radius: 4px;
        box-sizing: border-box;
    }
    .form-container .full-width {
        grid-column: 1 / -1;
    }
    @media (max-width: 500px) {
        .form-container {
            grid-template-columns: 1fr;
        }
    }