input[type="date"] {
    width: none;
    padding: none;
    border: 5px solid #000000;
    border-radius: 4px;
    padding: 0;
    margin: 10px;
}
input[type="text"] {
    width: none;
    padding: none;
    border: 5px solid #000000;
    border-radius: 4px;
    padding: 0;
    margin: 10px;
}
input[type="time"] {
    width: none;
    padding: none;
    border: 5px solid #000000;
    border-radius: 4px;
    padding: 0;
    margin: 10px;
}